{% extends "base.html" %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <p>{{ page.intro }}</p>

  <div class="coupon-list">
    {% for blog in page.get_children %}
      <div class="store-item">
        <div class="store-image">
          <a href="{{ blog.url }}"><img src="{{ blog.specific.image.file.url }}" alt="{{ blog.title }}"></a>
          <!-- Note: Use store.specific to access the specific Store page fields -->
        </div>
        <div>
          <h2><a class="store_spec" href="{{ blog.url }}">{{ blog.title }} Coupon Codes</a></h2>
          <p>{{ blog.specific.description|safe }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
