/* Reset some default browser styles */
body, figure, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

/* Set the base font and line-height */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
main {
    padding: 20px 0;
    margin: 0 15%;
}
.full-width {
  max-width: 100%;
  padding:0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Add some spacing and styling to the header */
header {
    padding: 20px 0;
    background-color: #f5f5f5;
}

nav {
  margin: 0 15%;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Style the main content area */

.first-letter::first-letter {
  text-transform: capitalize;
}

/* Add a bit of spacing to the footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

/* Customize the links */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add some general styles for buttons */
button,
input[type="submit"],
input[type="reset"] {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #004499;
}

/* Add more specific styling for conversion optimization */
/* Adjust the styles below to match your branding and design goals */

/* Use a high-contrast color scheme to draw attention */
body {
    color: #333;
    background-color: #fff;
}

header {
  /* background: linear-gradient(to right, #0d4377, #1a490d); */
  background: linear-gradient(to right, #031730,#114557, #132446);
}

header nav ul li a {
    color: #fff;
}


/* Add this CSS code to your existing styles */

.banner-image-container {
  position: relative;
  overflow: hidden; /* Hide the overflow of the image */
  height: 300px; /* Set the specific height you want to display */
  max-width: 100%; /* Ensure the image remains full width */
}

.banner img {
  width: 102%;
    height: auto;
    position: absolute;
    bottom: -355px;
    margin-left: -2px;
}

.banner-content {
  position: absolute; /* Position the content absolutely */
  top: 0; /* Position it at the top of the banner */
  left: 0; /* Align it to the left edge of the banner */
  width: 100%; /* Make it full width */
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
  color: #fff; /* Text color for the content */
  padding: 20px; /* Add padding for spacing around the content */
}

.banner-content h1 {
  font-size: 24px; /* Adjust the title font size */
}

.banner-content a {
  color: #fff; /* Link color within the content */
  text-decoration: underline; /* Add underline to links */
}

.banner-content a:hover {
  text-decoration: none; /* Remove underline on hover for links */
}


button,
input[type="submit"],
input[type="reset"] {
    background-color: #004499;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #003366;
}

/* Optimize the layout for mobile devices */
/* Add media queries and adjust the styles as needed */

@media (max-width: 767px) {
    header nav ul {
        flex-wrap: wrap;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    footer {
        padding: 10px;
    }
}



.store-page {
  padding: 20px;
  margin: 0 15%;
}
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  .back-link {
    display: block;
    margin-bottom: 20px;
    color: #0066cc;
  }
  
  .coupon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .coupon-item {
    position: relative;
    width: calc(33% - 100px);
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    min-height: 310px;
  }
  
  @media (max-width: 767px) {
    .coupon-item {
      width: calc(100% - 20px);
    }
  }
  
  .coupon-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .coupon-info h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .coupon-info p {
    font-size: 14px;
    margin: 0;
  }
  
  .coupon-code {
    margin-top: 10px;
  }
  
  .coupon-info {
    position: absolute;
    bottom: 25px;
}
  .reveal-code {
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  
  .discover-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .discover-link:hover {
    background-color: #004499;
  }
  
  .browse-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004499;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .browse-link:hover {
    background-color: #003366;
  }
  
  /* Coupon Popup Styles */
  
  .coupon-popup {
    display: none;
    background: linear-gradient(135deg, #7158fe, #9d4de6);
    color: #fff;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    position: fixed;
    z-index: 9999;
    left: 35%;
    top: 30%;
    width: 350px;
    height: 250px;
  }

  

  .logo{
    width: 80px;
    border-radius: 8px;
    margin-bottom: 20px;

}
.coupon-card h3{
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;

}
.coupon-card p{
    font-size: 15px;

}
.coupon-row{
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: fit-content;

}
#cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;

}
#cpnBtn{
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 20px;
    color: #7158fe;
    cursor: pointer;
}
  
  .coupon-content {
    position: relative;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #333;
  }
  
  #coupon-code-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
  }
  